@sterling-ui:registry=https://repo.dev.backgroundcheck.com/nexus/repository/npm-private/
@sterling-react:registry=https://repo.dev.backgroundcheck.com/nexus/repository/npm-private/
@sterling:registry=https://repo.dev.backgroundcheck.com/nexus/repository/npm-private/
email=deployer@sterlingts.com
prefer-dedupe=true